body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.not_found{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: red;
  font-size: 2em;
  font-weight: bold;
}
.request_error{
  text-align: center;
  color: red;
  font-size: 1em;
  font-weight: bold;
}